*{
    /* border: 0%; */
    padding: 0%;
    margin: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
} 
#main{
    background-color: aqua;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#panel{
    height: 80%;
    width: 80%;
    /* background-color: rgb(12, 12, 113); */
    border-radius: 10px;
    overflow: hidden;
   
}

#toppanel{
    width: 100%;
    height: 60px;
    padding: 0px 20%;
    background-color: rgb(14, 3, 61);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem{
    height: 90%;
    /* width: 20%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    /* background-color: red; */
    color: aquamarine;
}
#box{
    height: 60%;
    width: 35px;
    border-radius: 2px;
    background-color: aliceblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}


#bottompanel{
    height:calc(100%-60px);
    width: 100%;
   padding-left: 2%;
   padding-right: 0%;
   padding-top: 1%;
   padding-bottom: 1%;
    background-color: rgb(28, 2, 99);
    /* justify-content: space-between ; */
    gap: 8px;
    display: flex;
    /* justify-content: space-between; */
    /* margin:10px; */
    flex-wrap: wrap;
    
}
.bubble{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    /* padding: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.bubble:hover{
    background-color: rgb(38, 4, 70);
    cursor: pointer;
}
